body {
  background-color: darkgrey;
  font-size: 18px;
}

/* .block {
  float: left;
  width: 200px;
  height: 100px;
  border: 2px solid rgb(10, 114, 114);
}

.block2 {
  width: 100px;
  height: 50px;
  background-color: coral;
} */

.container-flex {
  margin-top: 10px;
  border: 4px solid orange;
  display: flex;
  min-height: 500px;

  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.item {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}
